body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

header {
  background-image: url(../img/pattern.png);
  background-size: 400px, 200px;
  background-position: top;
  background-repeat: repeat;
  background-color: rgb(78,160,255);
  height: 100px;
}

.main-logo {
  position: relative;
  top: 40px;
  left: 10px;
  height: 50px;
}

.title {
  margin-top: -10px;
  font-size: larger;
}

.second {
  margin-top: -20px;
  color: rgb(137,137,137);
}

.date {
  font-size: smaller;
}

.top-images-sources {
  margin-top: 0px;
  font-size: smaller;
}

.article-text {
  margin-top: 20px;
}

.highlighted-text {
  background-color: rgb(255,255,0);
}

.article-list {
  padding-left: 20px;
}

table {
  text-align: left;
  border-spacing: 0;
  line-height: 15px;
}

.wider-column {
  width: 25%;
}

thead {
  background-color: rgb(32,169,229);
  color: white;
}

.blue-row {
  background-color: rgb(177,229,242);
}