header {
  background-image: url(../img/pattern.png);
  background-size: 400px, 200px;
  background-position: top;
  background-repeat: repeat;
  background-color: rgb(78,160,255);
  height: 100px;
}

.main-logo {
  position: relative;
  top: 40px;
  left: 10px;
  height: 50px;
}

.title {
  margin-top: -10px;
}

.second {
  margin-top: -20px;
  color: rgb(137,137,137);
}

.date {
  font-size: smaller;
}